{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    O nas
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="text-justify">Strona powstała w celu uświadomienia jak dużo zarabiają dla siebie a jak dużo "oddają" innym, możesz zobaczyć na niej ile realnie zarbiasz oraz ile realnie płacisz podatków i innych opłat, które celowo nie nazywają się podatkami.
        W razie jakichkolwiek błędów proszę żebyś nam je koniecznie zgłosił, wszelkie propozycje są mile widziane.
      </p>
      <footer class="blockquote-footer"><cite title="Source Title">Jak netto jest Twoje Brutto</cite></footer>
    </blockquote>
  </div>
  </div>
  </body>  
    {%  endblock %}
